@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
  /* .fr-header__service {
    display: none;
  } */

  /* .fr-logo {
    display: none;
  } */
}

/* fix h3 in callout */
.fr-callout h3 {
  margin: var(--title-spacing);
}
