@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
  /* .fr-header__service {
    display: none;
  } */

  /* .fr-logo {
    display: none;
  } */
}

/* fix h3 in callout */
.fr-callout h3 {
  margin: var(--title-spacing);
}


/* table selego */

table.table-custom {
  width: 100%;
  padding: 16px;
  background: #fff;
  -fs-table-paginate: paginate;

  thead tr {
    height: 2.5rem;
  }

  tbody {
    box-shadow: 0 4px 8px rgba(29, 32, 33, 0.05);
  }

  tr {
    height: 3.5rem;
  }

  tbody > tr:nth-child(odd) {
    background-color: #f7f9fa;
  }

  tbody > tr:hover {
    background-color: #b9b9b9;
  }

  thead td {
    color: #008e7f;
    text-align: left;
    padding: 0.5rem 0.5rem;
  }

  thead td,
  thead td * {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
  }

  thead .title {
    caption-side: top;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    padding: 20px 0 10px 0;
    width: 100%;
    color: #1d2021;
    text-transform: none;
  }

  tbody td {
    padding: 0.25rem 0.5rem;
    font-size: 14px;
  }
  td {
    &.small {
      min-width: 0px;
    }
    /* if not this class, there is a bug ! try it */
    &.not-small {
      min-width: 100px;
    }
    &:not(:last-of-type) {
      border-right: 1px solid #dddddd55;
    }
  }
}

@media screen {
  .table-custom.medical tbody > tr:nth-child(odd) {
    background-color: #e6f4fe;
  }
}

/* inspired from https://tailwindui.com/components/application-ui/forms/input-groups#component-2607d970262ada86428f063c72b1e7bd */
div.tailwindui,
input.tailwindui,
textarea.tailwindui {
  @apply relative block w-full appearance-none rounded-[4px] border border-gray-300 border-solid px-2 py-2 text-base shadow-sm focus:border-action-high-blue-france focus:ring-action-high-blue-france focus:outline-action-high-blue-france sm:text-sm !-outline-offset-1 ;
}
label.tailwindui {
  @apply mb-2 block text-gray-700;
}

.input-focus-helper {
  outline: 1px dashed #eee !important;
  min-width: 50px !important;
}
.input-focus-helper:focus,
.input-focus-helper:active {
  outline: auto !important;
}

/* .fr-input-group {
    flex: 1 1 100%;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
} */

.checkbox-black .fr-checkbox-group input[type=checkbox]:checked + label::before {
  @apply !text-gray-900 !bg-gray-900;
}

.checkbox-black *  {
  @apply !cursor-not-allowed !opacity-100 !text-gray-900;
}

.radio-black .fr-radio-group input[type=radio] + label {
  /* @apply !text-gray-900 !opacity-100; */
  /* @apply !cursor-not-allowed !border-red-500; */
      background-image: radial-gradient(transparent 10px, #000 11px, transparent 12px);
}

.radio-black .fr-radio-group input[type=radio]:checked + label {
  background-image: radial-gradient(transparent 10px, #000 11px, transparent 12px), radial-gradient(#000 5px, transparent 6px);
}

.radio-black * {
  @apply !cursor-not-allowed pointer-events-none;
}

.card-checkbox {
  margin: 0 !important;
  padding: 0 !important;
}
.card-checkbox * {
  margin: 0 !important;
  padding: 0 !important;
}
.card-checkbox .fr-fieldset__content {
  @apply size-4;
}

.card-checkbox label::before {
  top: 0 !important;
  left: -1rem !important;
  right: 0 !important;
  bottom: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
