@layer theme, base, dsfr, utilities;

@import url(./node_modules/@codegouvfr/react-dsfr/main.css) layer(dsfr);
@import url(./node_modules/@codegouvfr/react-dsfr/dsfr/utility/colors/colors.min.css) layer(dsfr);
@import 'tailwindcss';

@theme {
  --breakpoint-xs: 450px;
  --breakpoint-3xl: 120rem;

  --border-width-3: 3px;
  --border-width-6: 6px;

  --color-action-high-blue-france: var(--text-action-high-blue-france);
  --color-action-high-blue-france-dark: #8585f6;
  --color-action-high-blue-france-light: #000091;

  --color-alt-blue-france: var(--background-alt-blue-france);
  --color-alt-blue-france-dark: #1b1b35;
  --color-alt-blue-france-light: #f5f5fe;

  --color-error-main-525: #f60700;
  --color-error-main-525-dark: #f60700;
  --color-error-main-525-light: #f60700;

  --color-warning-main-525: #d64d00;
  --color-warning-main-525-dark: #d64d00;
  --color-warning-main-525-light: #d64d00;

  --color-error-850: #ffbdbd;
  --color-error-850-dark: #ffbdbd;
  --color-error-850-light: #ffbdbd;

  --color-success-main-525: #1f8d49;
  --color-success-main-525-dark: #1f8d49;
  --color-success-main-525-light: #1f8d49;

  --color-success-main-625: #27a658;
  --color-success-main-625-dark: #27a658;
  --color-success-main-625-light: #27a658;

  --color-green-emeraude: var(--green-emeraude-main-632);

  --color-contrast-grey: var(--background-contrast-grey);

  --color-disabled-grey: var(--text-disabled-grey);

  --color-active-tint: var(--active-tint);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer utilities {
  p {
    @apply m-0;
  }
  * {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #000;
  }
  ol,
  ul,
  menu {
    @apply list-none;
    padding-inline-start: 0;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: #000;
  }
}

@media (max-width: 767px) {
  /* .fr-header__service {
    display: none;
  } */

  /* .fr-logo {
    display: none;
  } */
}

/* fix h3 in callout */
.fr-callout h3 {
  margin: var(--title-spacing);
}

/* table selego */

table.table-custom {
  width: 100%;
  padding: 16px;
  background: #fff;
  -fs-table-paginate: paginate;

  thead tr {
    height: 2.5rem;
  }

  tbody {
    box-shadow: 0 4px 8px rgba(29, 32, 33, 0.05);
  }

  tr {
    height: 3.5rem;
  }

  tbody > tr:nth-child(odd) {
    background-color: #f7f9fa;
  }

  tbody > tr:hover {
    background-color: #b9b9b9;
  }

  thead td {
    color: #008e7f;
    text-align: left;
    padding: 0.5rem 0.5rem;
  }

  thead td,
  thead td * {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
  }

  thead .title {
    caption-side: top;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    padding: 20px 0 10px 0;
    width: 100%;
    color: #1d2021;
    text-transform: none;
  }

  tbody td {
    padding: 0.25rem 0.5rem;
    font-size: 14px;
  }
  td {
    &.small {
      min-width: 0px;
    }
    /* if not this class, there is a bug ! try it */
    &.not-small {
      min-width: 100px;
    }
    &:not(:last-of-type) {
      border-right: 1px solid #dddddd55;
    }
  }
}

@media screen {
  .table-custom.medical tbody > tr:nth-child(odd) {
    background-color: #e6f4fe;
  }
}

/* inspired from https://tailwindui.com/components/application-ui/forms/input-groups#component-2607d970262ada86428f063c72b1e7bd */
div.tailwindui,
input.tailwindui,
textarea.tailwindui {
  @apply focus:border-action-high-blue-france focus:ring-action-high-blue-france focus:outline-action-high-blue-france relative block w-full appearance-none rounded-[4px] border border-solid border-gray-300 px-2 py-2 text-base shadow-xs -outline-offset-1! sm:text-sm;
}
label.tailwindui {
  @apply mb-2 block text-gray-700;
}

.input-focus-helper {
  outline: 1px dashed #eee !important;
  min-width: 50px !important;
}
.input-focus-helper:focus,
.input-focus-helper:active {
  outline: auto !important;
}

/* .fr-input-group {
    flex: 1 1 100%;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
} */

.checkbox-black .fr-checkbox-group input[type='checkbox']:checked + label::before {
  @apply bg-gray-900! text-gray-900!;
}

.checkbox-black * {
  @apply cursor-not-allowed! text-gray-900! opacity-100!;
}

.radio-black .fr-radio-group input[type='radio'] + label {
  /* @apply !text-gray-900 !opacity-100; */
  /* @apply !cursor-not-allowed !border-red-500; */
  background-image: radial-gradient(transparent 10px, #000 11px, transparent 12px);
}

.radio-black .fr-radio-group input[type='radio']:checked + label {
  background-image:
    radial-gradient(transparent 10px, #000 11px, transparent 12px), radial-gradient(#000 5px, transparent 6px);
}

.radio-black * {
  @apply pointer-events-none cursor-not-allowed!;
}

.card-checkbox {
  margin: 0 !important;
  padding: 0 !important;
}
.card-checkbox * {
  margin: 0 !important;
  padding: 0 !important;
}
.card-checkbox .fr-fieldset__content {
  @apply size-4;
}

.card-checkbox label::before {
  top: 0 !important;
  left: -1rem !important;
  right: 0 !important;
  bottom: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

details {
  cursor: default;
}

.with-marker::before {
  content: '•';
  @apply mr-3 text-lg font-bold;
}

.drop-down .fr-nav__item {
  @apply bg-white!;
}

.drop-down .fr-nav__btn {
  @apply text-action-high-blue-france! min-h-10! py-0! text-base! font-medium!;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
